jacob_ds_btc_ok/test/js/node_modules/
jacob_ds_btc_ok/nodes/n*/data/schnorrmpc/
jacob_ds_btc_ok/nodes/n*/data/storeman/
jacob_ds_btc_ok/nodes/boot*/data/schnorrmpc/
jacob_ds_btc_ok/nodes/boot*/data/storeman/
